.border {
    outline: 1px solid #4D4D4D;
    border-radius: 12px;
}

.line-gradients {
    background: linear-gradient(
        to left,       
        #3C3C3C 0%,      
        #444444 50%,      
        #333333 100%      
    );
    border-radius: 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus {
    border: none;
    outline: none;
}

.bg-white {
    background: #fff;
}

.bg-black {
    background: #262626;
}

.text-black {
    color: #000;
}
.text-white {
    color: #fff;
}